<!DOCTYPE html>
<html>
    <head>
      <title>Food Composition</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      />
      <!-- Leaflet CSS -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
  
      <!-- Our CSS
      <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
      <link href="{{ url_for('static', filename='css/style.css') }}">
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    
    <body>
        <h3>Food Nutrients, Vitamins and Minerals Breakdown (all values in grams (g))</h3>
        <div id="plotBar"></div>
        <div id="plotPie"></div>
  
      <!-- Leaflet JS -->
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
      <!-- D3 JavaScript -->
      <script src="https://d3js.org/d3.v6.min.js"></script>
      <!-- Jquery library for Ajax API calls -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- jQuery made available -->
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <script>
        var fdcId = "{{fdcId}}"
      </script>
      <script src="{{ url_for('static', filename='js/foodNutrients.js') }}"></script>
    </body>
</html>