<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fun with Foods</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Our CSS
    <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
  </head>
  <body>
    <!-- The div that holds our map
  <div id="mapid"></div> -->

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Fun with Foods</h1>
      <p><a class="btn btn-primary btn-lg" href="/get" role="button">Get Foods Data</a></p>
    </div>
  </div>
  <div class="col-md-6">
    <h3 >Food Facts</h3>
    <table class="table table-striped">
    {% for food in foods_obj.foods %}
    <tr>
    <td>{{food.brandName}}</td>
    <td>{{food.ingredients}}</td>
    </tr>
    {% endfor %}
  </table>
  </div>


  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="app.js"></script>
  <!-- Jquery library for Ajax API calls -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- jQuery made available -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <!-- <script src="/lib/jquery.min.js"></script>
  <script src="/lib/jquery.plugin.js"></script> -->
  </body>
</html>